{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
         <section id="education">
             <h4>Education</h4>
             <dl class="row">
                 <dt class="col-sm-3">Master's Degree @ SupInfo</dt>
                 <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                 <dt class="col-sm-3">Bachelor's Degree @ IUT Informatique Robert Schuman</dt>
                 <dd class="col-sm-9">
                     <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                     <p>Donec id elit non mi porta gravida at eget metus.</p>
                 </dd>

                 <dt class="col-sm-3">IT Degree @ IUT Informatique Robert Schuman</dt>
                 <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>
             </dl>
         </section>
        <section id="profession_experience">
            <h4>Professional Experience</h4>

            <dl class="row">
                <dt class="col-sm-3">Internship @ IRCAD</dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                <dt class="col-sm-3">Internship @ Almedia</dt>
                <dd class="col-sm-9">
                    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                </dd>
            </dl>
        </section>
        <section id="profession_experience">
            <h4>Technologies, Libraries, and Frameworks</h4>
            <dl class="row">
                <dt class="col-sm-3"></dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                <dt class="col-sm-3"></dt>
                <dd class="col-sm-9">
                    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                </dd>
            </dl>
        </section>
        <section id="languages">
            <h4>Languages</h4>
            <dl class="row">
                <dt class="col-sm-3">English</dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                <dt class="col-sm-3">French</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                <dt class="col-sm-3">Russian</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

            </dl>
        </section>
        <section id="interests">
            <h4>Professional Experience</h4>
            <dl class="row">

                <dt class="col-sm-3">Running</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>



                <dt class="col-sm-3">Private swimming coach</dt>
                <dd class="col-sm-9">
                    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                </dd>

                <dt class="col-sm-3">Swimmer</dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                <dt class="col-sm-3">Leo / Lions Club Member</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                <dt class="col-sm-3">Par Enchantment</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                <dt class="col-sm-3">Krav Maga</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

            </dl>
        </section>
    </div>
{% endblock %}