{% extends 'base.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="container">
        <h2>Kevin Faulhaber</h2>
         <section id="goals">
             <h4>Goals</h4>
             
         </section>
         <section id="education">
             <h4>Education</h4>
             <dl class="row">
                 <dt class="col-sm-3">Master's Degree @ <a href="http://supinfo.com/">SupInfo</a></dt>
                 <dd class="col-sm-9">2015-2017 course focused on development, infrastructure and project management.</dd>

                 <dt class="col-sm-3"><a href="http://iutrs.unistra.fr/formation/licence-professionnelle/informatique/silcded">Bachelor's Degree</a> @ <a href="http://iutrs.unistra.fr/formation/dut/dut-informatique">IUT Informatique Robert Schuman</a></dt>
                 <dd class="col-sm-9">
                     <p>Focused mainly on web and mobile development.</p>
                 </dd>

                 <dt class="col-sm-3">IT Degree @ <a href="http://iutrs.unistra.fr/formation/dut/dut-informatique">IUT Informatique Robert Schuman</a></dt>
                 <dd class="col-sm-9">The general concepts of computer science (database, programming languages, architecture, design patterns, etc) </dd>
             </dl>
         </section>
        <section id="profession_experience">
            <h4>Professional Experience</h4>

            <dl class="row">
                <dt class="col-sm-3">Internship @ <a href="http://www.ircad.fr">IRCAD</a> at the <a href="https://www.websurg.com">WeBSurg</a> Department</dt>
                <dd class="col-sm-9">
                    <p>2014-2017, Here I worked on a variety of different projects with different technologies.
                    </p>
                    <p>My most notable contributions:
                    </p>
                    <ul class="list-unstyled">
                        <li><a href="https://www.websurg.com/googleglass/">WeBSurg Google Glass</a>
                            <ul>
                                <li>Planned and developed</li>
                                <li>Java, Android Studio, XML, JSON</li>
                            </ul>
                        </li>
                        <li><a href="https://www.websurg.com/appletv/">WeBSurg for AppleTV</a>
                            <ul>
                                <li>Planned and developed</li>
                                <li>Swift3.0, XCode, CocoaPods, Objective-C, JSON</li>
                            </ul>
                        </li>
                        <li>Created a internal statistical application
                            <ul>
                                <li>PHP, MySQL, Javascript, Highcharts</li>
                            </ul>
                        </li>
                        <li>Motivated the team to redo the WeBSurg Project from scratch with new ideas, new coding standards and new technologies.
                        </li>
                        <li>Went from a SaaS to <a href="https://scalingo.com/">a PaaS solution.</a></li>
                        <li>Created a TypeScript <a href="https://github.com/rugdealer/vimeo-upload/tree/chunk-upload">chunk upload library</a> for the video hosting platform we used (Vimeo).
                            <ul>
                                <li>Planned and developed</li>
                                <li>TypeScript, Vimeo API</li>
                            </ul>
                        </li>
                    </ul>

                </dd>

                <dt class="col-sm-3">Internship @ <a href="http://www.almedia.fr/">Almedia</a></dt>
                <dd class="col-sm-9">
                    <p>Internship that mainly consisted in implementing a new design for their website.</p>
                    <p>Other side projects consisted in developing two other websites to showcase a new "serious game".</p>
                </dd>
            </dl>
        </section>
        <section id="profession_experience">
            <h4>Technologies, Libraries, and Frameworks</h4>
            <dl class="row">
                <dt class="col-sm-3"></dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                <dt class="col-sm-3"></dt>
                <dd class="col-sm-9">
                    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                </dd>
            </dl>
        </section>
        <section id="languages">
            <h4>Languages</h4>
            <dl class="row">
                <dt class="col-sm-3">English</dt>
                <dd class="col-sm-9">C2 Mother language.</dd>

                <dt class="col-sm-3">French</dt>
                <dd class="col-sm-9">C2 Mother language.</dd>

                <dt class="col-sm-3">Russian</dt>
                <dd class="col-sm-9">A2 Elementary</dd>

            </dl>
        </section>
        <section id="interests">
            <h4>Interests</h4>
            <dl class="row">

                <dt class="col-sm-3">Running</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>



                <dt class="col-sm-3">Private swimming coach</dt>
                <dd class="col-sm-9">
                    <p>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</p>
                    <p>Donec id elit non mi porta gravida at eget metus.</p>
                </dd>

                <dt class="col-sm-3">Swimmer</dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>

                <dt class="col-sm-3">Leo / Lions Club Member</dt>
                <dd class="col-sm-9">Member from 2013-2017
                    <ul class="list-unstyled">
                        <li>President from 2015-2016</li>
                        <li>Vice-President from 2014-2015</li>
                    </ul>
                </dd>

                <dt class="col-sm-3">Par Enchantment</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                <dt class="col-sm-3">Krav Maga</dt>
                <dd class="col-sm-9">Etiam porta sem malesuada magna mollis euismod.</dd>

                <dt class="col-sm-3">StackOverflow</dt>
                <dd class="col-sm-9">Active member on StackOverflow.
                    <a href="https://stackoverflow.com/users/3589092/rottenoats">
                        <img src="https://stackoverflow.com/users/flair/3589092.png?theme=clean" width="208" height="58" alt="profile for rottenoats at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for rottenoats at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
                    </a>
                </dd>

            </dl>
        </section>
    </div>
{% endblock %}