<ul id="content" class="list-unstyled">
    <li class="media">
        <i class="mr-3 fa fa-line-chart" aria-hidden="true"></i>
        <div class="media-body">
            <h5 class="mt-0 mb-1">Be In Control</h5>
             Be in control of your project throughout the development process.
            A weekly/bi-weekly version will always be available to test.
            The project's features can be subject to change at your request at any moment during the development process.
        </div>
    </li>
    <li class="media my-4">
        <i class="mr-3 fa fa-cogs" aria-hidden="true"></i>
        <div class="media-body">
            <h5 class="mt-0 mb-1">Quality and Performant</h5>
               All projects use the most suitable technologies, frameworks and libraries to ensure optimization and performance.
            Work is done in a quality manner, allowing for easy maintenance and future updates.
        </div>
    </li>
    <li class="media">
        <i class="mr-3 fa fa-ship" aria-hidden="true"></i>
        <div class="media-body">
            <h5 class="mt-0 mb-1">Planning and Shipping</h5>
            No hidden fees. After initial estimation
        </div>
    </li>
</ul>