#quote,#me, #hire_me {
    margin-top: 2em;
    margin-bottom: 2em;
}

#me, #quote {
    color: #c2c2c2;
}

#title {
    color: #c8c8c8;
}

#title > span {
    color: #999999;
}


body {
    /*This was added in js : background-image: url("../images/background.jpg");*/
    background-repeat: repeat-y;
    background-size: cover;
    overflow-x: hidden;
}

#cover {
    height: 100%;
}

body > #mainContent {
    background-color: rgba(194, 194, 194, .05);
    padding-top: 4em;
}

.card {
    background-color: #c2c2c2;
}

.media > .fa {
    font-size: 10em;
}

.media h5, .media i, .media .media-body {
    color: #c2c2c2;
}

#content .media {
    background-color: rgba(62, 62, 62, .50);
    padding: 2em;
    margin-bottom: 1em;
}